.app_container {
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom, #68EACC 0%, #497BE8 100%);
  overflow: auto;
}

/**************/
.todo_container {
  width: 350px;
  margin: 100px auto 0px auto;
  background: white;
  padding: 40px;
}
/**************/
.h1_title{
  text-align: center;
}
/*************/
.input_todo {
  min-width: 150px;
  flex-grow: 1;
  padding-left: 10px;
}
